.App {
  text-align: center;
  background-color: rgb(236, 241, 157);
  margin: 0 auto;
  padding-bottom: 10px;
  border-radius: 5px;
  width: 768px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.input-todo {
  margin-right: 10px;
  border: 2px solid #ccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
}

.add-button {
  padding: 5px 10px;
  background: #ccc;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.filter {
  margin: 10px;
}
.filter button {
  margin: 0px 5px;
  padding: 5px 10px;
  background: #ccc;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

button:hover {
  filter: brightness(90%);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
